# Server
PORT=4000
PREFIX=/api/v1
NODE_ENV=development

# Database 
DB_HOST=localhost
DB_PORT=5432
DB_NAME=school_db
DB_USERNAME=postgres
DB_PASSWORD=password

# JWT
JWT_SECRET=ton_secret_client_long_et_complexe
JWT_EXPIRES_IN=1d

# Client URL
CLIENT_URL=http://localhost:3000